/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.centerP {
  margin:0 auto
}
pagination-controls {
  margin-right:30px;
  display:block;
  text-align:center;
}
